.Container-cards {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content:left;
    flex-wrap: wrap;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
}


.card {
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    
    background-color: #DDD;
    border-radius: 20px;
    padding: 30px;
    max-width: 200px;
    margin: 7px;
}

.card-title {
    font-size: 20px;
    text-decoration: underline;
}

.card-img {
    min-height: 150px;
    min-width: 200px;
    margin: auto;
}

.card-desc {
    font-size: 15px;
    text-align: left;
}

